{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}

    <div class="row justify-content-center">
        <div class="col-md-8">
            <article>
                <h1 class="mt-4">{{ article.titre }}</h1>
                <hr>
                <div class="mt-4">
                    <p class="lead" style="white-space: pre-wrap;">{{ article.contenu }}</p>
                </div>
                <hr>
                {% if is_granted('EDIT', article) %}
                <div class="d-flex justify-content-between">
                    <a href="{{ path('app_article_delete', {'id': article.id}) }}" 
                    class="btn btn-danger" 
                    onclick="return confirm('Es-tu sûr de vouloir supprimer cet article ?')">
                    Supprimer l'article
                    </a>
                </div>
                {% endif %}
            </article>
        </div>
    </div>
{% endblock %}